# Ignore test files
tests/
# test_*.py

# Ignore datasets
datasets/
*.csv
*.json

# Ignore virtual environments or dependencies
myenv/


# Ignore system files
*.log
.DS_Store
Thumbs.db

# Ignore other files
.ipynb_checkpoints/
.vscode/
dist/
/Misc_files
my_fastapi/uploaded_images_dir
\deploy_mlflow\mlruns\1\9e563c9bcb8d45c0a2ecc4db13566e5a\artifacts\model\data\model\variables

.ipynb_checkpoints
1.3.5
2.13.0
XXXmy_fastapi2
capstone.pem
Draft
Dockerfile