include *.txt
include *.md
include *.pkl
recursive-include ./nn_model/*

include nn_model/datasets/train.csv
include nn_model/datasets/test.csv
include nn_model/trained-models/*.pkl
include nn_model/VERSION
include nn_model/config.yml

include ./requirements/requirements.txt
include ./requirements/test_requirements.txt
exclude *.log
exclude *.cfg

recursive-exclude * __pycache__
recursive-exclude * *.py[co]